/* div {
  border: 0.1px solid grey;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.header_top {
  background-image: url("https://www.beautybebo.com/pub/media/ads/ad-desktop.jpg");
  background-size: contain;
}
.header_img {
  width: 10%;
  margin-left: 84.9%;
  padding: 0.65%;
  margin-top: 0.2%;
}
.header_covid {
  line-height: 15px;
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: -5px;
  color: white;
  background-color: black;
}
.header_middle_innerbox {
  width: 85%;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  padding: 0.4%;
}
.header_middle_img {
  padding: 2.5%;
}
#header_middle_innerbox_first {
  flex-basis: 22%;
  margin: 0 1%;
}
#header_middle_innerbox_second {
  flex-basis: 55%;
}
#header_middle_innerbox_third {
  flex-basis: 20%;
}
#category_list {
  padding: 1.5%;
  color: #607d8b;
  margin: 2.5% 3%;
  width: 35%;
  border: 1px solid #cfd8dc;
  border-right: none;
}
#searchbar {
  padding: 1.6%;
  color: #5f7682;
  border: 1px solid #cfd8dc;
  width: 40%;
  margin: 0.5% -4%;
  border-left: none;
  border-right: none;
  font-size: 13px;
  padding-bottom: 1.65%;
}
.search_focus:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
#search-btn {
  box-sizing: border-box;
  margin-left: 1.7%;
  position: absolute;
  margin-top: 1.1%;
  border: 1px solid #cfd8dc;
  width: 3.5%;
  padding: 0.5%;
  background-color: #dd0285;
  border-radius: 2px;
  border-left: none;
}
.search_icon {
  width: 50%;
  padding: 0.2%;
  color: white;
  font-weight: bold;
  opacity: 1;
  margin-top: 1px;
}
#header_middle_innerbox_third {
  display: grid;
  grid-template-columns: repeat(4, 39px);
  grid-template-rows: 39px;
  grid-gap: 15px;
  box-sizing: border-box;
  padding: 1.7%;
  padding-top: 1.5%;
  padding-left: 3.5%;
}
#header_middle_innerbox_third > div {
  box-sizing: border-box;
  padding: 1%;
}

#header_middle_innerbox_third > div:nth-child(3) {
  grid-area: 1/3/2/5;
  margin-left: -15px;
  padding: 10px 5px;
}
.material-icons-outlined,
.material-icons-round {
  padding: 6px;
}
.favourite {
  border: 1px solid black;
  border-radius: 2px;
}
.favourite:hover {
  background-color: #dd0285;
  color: white;
  border: none;
}
.account {
  border: 1px solid #cfd8dc;
  border-radius: 2px;
}
.account:hover {
  background-color: #dd0285;
  color: white;
  border: none;
}
.header_bottom {
  display: flex;
  background-color: #dd0285;
  color: white;
  margin-top: -0.5%;
}
.header_bottom > div:nth-child(1) {
  flex-basis: 67%;
  margin: auto;
  margin-left: 8.7%;
}
.header_bottom > div:nth-child(2) {
  flex-basis: 10%;
  margin: auto;
  margin-left: -4%;
  padding: 0 1%;
}
.menu_bar,
.my_cart {
  font-weight: bold;
  box-sizing: content-box;
  margin: -5%;
}
ul {
  display: flex;
  list-style: none;
}
li {
  font-size: 14px;
  padding: 12px 12.4px;
  margin: 0 2px;
  cursor: pointer;
}
.active,
.menu_bar ul li:hover {
  background-color: #bf0077;
}
.expand {
  font-size: 17px;
  padding: 0;
  margin: 0;
  padding-top: 1px;
  padding-left: 2px;
  margin-left: 3px;
}
.cart_expand {
  padding-right: 5px;
  font-size: 19px;
}
.middle-container {
  width: 82%;
  margin: 10px auto;
  border-radius: 3px;
  display: flex;
  border: 1px solid #b0bec5;
}
.middle-container > div:nth-child(1) {
  flex-basis: 25%;
}
.middle-container > div:nth-child(2) {
  flex-basis: 75%;
  margin: auto;
  height: 450px;
}
.megamenu-content-sidebar {
  margin: 0;
}

.megamenu-content-sidebar .block_title > ul > li > span:nth-child(1) {
  margin-top: 0px;
  margin-left: 0;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 0;
}
.megamenu-content-sidebar .block_title > ul > li > span:nth-child(2) {
  margin-left: 2px;
  font-size: 15px;
  vertical-align: middle;
  font-weight: bold;
  margin-bottom: 0;
}
.block_des {
  margin-top: -10px;
  margin-left: 5px;
}
.block_des ul {
  list-style: none;
  display: block;
}
.block_des ul > li {
  margin: 0;
  padding: 5px;
}
.block_des ul > li > span {
  vertical-align: middle;
}
.block_des ul > li > div {
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  border: none;
}
.icon_items {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-left: 10px;
}
.icon_items > img {
  width: 100%;
}
.icon_text {
  text-align: center;
  padding: 5px 5px;
  color: #757575;
  width: 65%;
}
.right_end {
  font-size: 17px;
  color: #757575;
}
.slide_img {
  width: 100%;
}
.heaven_products {
  width: 85%;
  margin: auto;
}
.heaven_products_img {
  width: 96%;
  margin: auto;
}
.heaven_products_img > img {
  width: 100%;
}
.festival_season {
  width: 85%;
  margin: auto;
  margin-top: 1%;
}
.festival_season_img {
  width: 96%;
  margin: auto;
}
.festival_season_img > img {
  width: 100%;
}
h5 {
  font-weight: 500;
  font-size: 15px;
  margin: 0.7% 8.2% 0.1%;
}
.show_all_products {
  width: 84%;
  margin: auto;
  display: flex;
  border: 1px solid #e0e0e0;
}
.show_all_products > div {
  flex-basis: 24.9%;
  margin: auto;
  height: 450px;
}
hr {
  width: 8%;
  margin-left: 8%;
  margin-top: 0.2%;
  background-color: #dd0285;
  opacity: 1;
  border: 1px solid #dd0285;
}
.products_box {
  margin-top: 3.5%;
  border-right: 1px solid #e0e0e0;
}
.show_all_products > .all_products:nth-child(4) > .products_box {
  border-right: none;
}
.img_outer_box {
  width: 90%;
  margin: auto;
  height: 230px;
}
.img_inner_box {
  width: 95%;
  margin: auto;
  height: 230px;
}
.img_inner_box > img {
  width: 100%;
  height: 230px;
}
.products_name {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: #424242;
  padding: 5px;
  line-height: 18px;
  height: 30px;
}
.rating_wraper {
  text-align: center;
  direction: rtl;
}
.rating_wraper input {
  display: none;
}
.rating_wraper label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 11.5px;
}
.rating_wraper label:before {
  content: "\2605";
  position: absolute;
  display: inline-block;
  margin-top: -12px;
  margin-left: -7px;
}
.rating_wraper label:after {
  content: "\2605";
  position: absolute;
  display: inline-block;
  margin-top: -12px;
  margin-left: -7px;
  color: grey;
}
.rating_wraper label:hover:after,
.rating_wraper label:hover ~ label:after,
.rating_wraper input:checked ~ label:after {
  color: #dd0285;
}
.price_promo {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 5px 2px;
  margin-top: 5px;
}
.price_promo > span {
  margin-right: 5px;
}
.main_price {
  font-size: 12px;
  text-decoration: line-through;
  color: #bdbdbd;
  font-weight: 500;
}
.discount_price {
  font-size: 15px;
  color: #dd0285;
  font-weight: 600;
}
.discount_avality {
  font-size: 14px;
  color: green;
  font-weight: 700;
}
.btn_order {
  width: 60%;
  margin: auto;
  display: flex;
}
.btn_order > div:nth-child(1) {
  flex-basis: 75%;
  margin: auto;
  box-sizing: border-box;
  padding: 3%;
  padding-right: 0;
}
.btn_order > div:nth-child(2) {
  flex-basis: 20%;
}
.add_to_cart {
  width: 85%;
  padding-right: 0;
  border: none;
  background-color: #dd0285;
  color: white;
  font-weight: bold;
}
.add_to_cart:hover {
  background-color: #f06292;
  border-radius: 2px;
}
.add_to_cart > span:nth-child(1) {
  font-size: 15px;
  vertical-align: middle;
}
.add_to_cart > span:nth-child(2) {
  font-size: 12px;
  vertical-align: middle;
}

.new_favourite {
  width: 60%;
  padding: 6%;
  padding-bottom: 5%;
  background-color: grey;
  border: none;
  color: white;
}
.icons_favor {
  margin: 3.2%;
  width: 10%;
  margin-left: -12%;
}
.add_favourite_img {
  padding: 3px;
  font-size: 15px;
}
