/* div {
  border: 1px solid gainsboro;
} */
* {
  font-family: Arial, Helvetica, sans-serif;
}
#bebo_all_products {
  background-color: #fafafa;
}
.bebo_products {
  width: 84%;
  margin: auto;
  display: flex;
}
.bebo_products > div:nth-child(1) {
  flex-basis: 23%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 2%;
  padding: 8px;
  background-color: white;
}
.bebo_products > div:nth-child(2) {
  flex-basis: 75%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 2%;
  padding: 5px;
  background-color: white;
}
.bebo_products_category_box > p {
  font-size: 14px;
  font-weight: normal;
  color: #757575;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.bebo_products_category_box > hr {
  width: 98%;
  margin: auto;
  padding: 0;
  color: #f5f5f5;
  border: 0.5px solid #e0e0e0;
  background-color: #e0e0e0;
  opacity: 0.5;
}
.bebo_products_category_box > ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-transform: uppercase;
  display: block;
}
.bebo_products_category_box > ul > li {
  margin: 0;
  padding: 8px 0;
  color: #757575;
  font-size: 13px;
}
.bebo_products_category_box > ul > li > hr {
  width: 98%;
  margin: auto;
  padding: 0;
  border: 0.5px solid #e0e0e0;
  background-color: #e0e0e0;
  opacity: 0.5;
  margin-top: 8px;
}
.bebo_products_category_box > ul > li:nth-child(1) {
  font-size: 15px;
  color: #212121;
}
.bebo_products_category_box > ul > li > div > span {
  padding: 0;
  margin: 0;
  font-size: 22px;
  margin-right: 0;
  border: none;
  outline: none;
}
.bebo_products_category_box > ul > li > div {
  position: absolute;
  margin-left: 16%;
  margin-top: -25px;
}
.add_color {
  color: #bdbdbd;
  border: none;
  outline: none;
}
.bebo_products_category_box > #adding-sign {
  position: absolute;
  margin-left: 16%;
  margin-top: -25px;
}
.bebo_products_category_box > #adding-sign > span {
  padding: 0;
  margin: 0;
  font-size: 22px;
  margin-right: 0;
  border: none;
  outline: none;
}
.bebo_products_category_img_box {
  margin-top: 10px;
}
.bebo_products_category_img_box > img {
  width: 100%;
}
.sorting_menu {
  width: 20%;
  background-color: #eceff1;
}
#ProductSort {
  padding: 5px;
  outline: none;
  border: none;
  background-color: #eceff1;
}
#show-the-bebo-products {
  border: 1px solid #e0e0e0;
  margin-top: 2%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 0.5%;
  padding-bottom: 5%;
}
.bebo_products_list > hr {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  color: #f5f5f5;
  border: 0.5px solid #e0e0e0;
  background-color: #e0e0e0;
  opacity: 0.5;
}
.all_bebo_products {
  width: 100%;
  margin: auto;
}
.bebo_products_box {
  margin-top: 3.5%;
  border-right: 1px solid #e0e0e0;
}
.img-outer-box {
  width: 90%;
  margin: auto;
  height: 290px;
  margin-top: 2%;
}
.img-inner-box {
  width: 95%;
  margin: auto;
  height: 290px;
}
.img-inner-box > img {
  width: 100%;
  height: 290px;
}
.bebo_products_name {
  width: 85%;
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: #616161;
  padding: 5px;
  line-height: 20px;
  margin-top: 5px;

  margin-bottom: 0;
}
.rating_upper_margin {
  margin-top: -2%;
  margin-bottom: 2%;
}
.product_hr {
  width: 95%;
  margin: auto;
  padding: 0;
  border: 0.5px solid #e0e0e0;
  background-color: #e0e0e0;
  opacity: 0.5;
  margin-top: 8px;
}
